html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #00c7c3;
  background-image: url("../img/svg/pattern-small.svg");
  background-repeat: repeat;
  background-size: 272px auto;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

.main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding: 0 57px;
  max-width: 375px;
}

.section {
  padding: 35px 0;
}

.page-header {
  padding: 75px 0 40px 0;
}

.page-nav-list {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  gap: 36px;
}

.link-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.link-wrapper svg {
  position: absolute;
  right: -11px;
}

.footer {
  padding-top: 73px;
  padding-bottom: 58px;
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.nav-list-item {
  position: relative;
}

.nested-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-weight: 400;
  font-size: 14px;
}

.nested-list li {
  padding-top: 26px;
  text-transform: none;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 788px;
  }

  .section-wrapper {
    align-items: center;
    padding: 236px 0 116px 0;
  }

  .section {
    padding: 60px 0;
  }

  .page-header {
    display: flex;
    padding: 0 0 60px 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-logo {
    width: 208px;
    height: 208px;
  }

  .page-nav-list {
    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }

  .link-wrapper {
    position: relative;
  }

  .link-wrapper svg {
    position: static;
    margin-left: 7px;
  }

  .nav-list-item {
    position: relative;
  }

  .nested-list {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding-top: 26px;
    padding-bottom: 10px;
  }

  .nested-list li {
    padding: 0;
    text-align: start;
  }

  .nav-link {
    transition: color 250ms linear;
  }

  .nested-list li a {
    text-decoration: none;
  }

  .nested-list li a:hover {
    color: #73fcf9;
  }

  .nav-link:hover {
    color: #73fcf9;
  }

  .nav-list-item:hover .nested-list {
    visibility: visible;
    opacity: 1;
  }
  .arrow-icon {
    transition: transform 0.3s ease;
  }

  .nav-list-item:hover .arrow-icon {
    transform: rotate(90deg);
  }

  .nav-list-item:hover .nested-list {
    visibility: visible;
    opacity: 1;
    max-height: 200px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 139px 0 0 0;
    font-size: 14px;
  }
}
